---
import Layout from '../layouts/Layout.astro';
import BlogPostCard from '../components/BlogPostCard.astro';

const posts = await Astro.glob('./blog/*.md');
const latestPosts = posts.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()).slice(0, 3);
---

<Layout title="Adrian's Blog">
	<main class="container mx-auto px-4">
		<!-- Hero Section -->
		<section class="py-20 text-center">
			<div class="text-center my-10">
				<h1 id="dynamic-header" class="text-4xl font-bold mb-4">Hi, there!👋</h1>
				<p id="dynamic-paragraph" class="text-xl text-gray-600 dark:text-gray-300 max-w-2xl mx-auto">I’d like to invite you to my blog, where I share my thoughts, ideas, and experiences about Marketing Cloud, Salesforce, AI and more. I hope you find here what you’re looking for and enjoy reading!</p>
			  </div>
		</section>

		<!-- Latest Posts Section -->
		<section class="py-12">
			<h2 class="text-3xl font-bold mb-8">Latest Posts</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				{latestPosts.map((post) => (
					<BlogPostCard 
						title={post.frontmatter.title}
						description={post.frontmatter.description}
						date={post.frontmatter.date}
						image={post.frontmatter.image}
						tags={post.frontmatter.tags}
						url={post.url}
					/>
				))}
			</div>
		</section>
	</main>
</Layout>

  
  
  
  
  
  

